.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #fff;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: black;
}

.buttonHeader {
  display: flex;
  align-self: center;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}
